@charset "UTF-8";
/**
 * BASE
 */
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

input[type=file],
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/**
 *
 * -------------------------------------------------------------------------------------------
 *
 * Size
 *
 * -------------------------------------------------------------------------------------------
 *
 */
.size-chip {
  width: 18px;
  height: 18px;
}

.size-icon {
  width: 32px;
  height: 32px;
}

.w-100px {
  width: 100px;
}

.w-120px {
  width: 120px;
}

@media all and (min-width: 1024px) {
  .w-lg-100 {
    width: 100% !important;
  }
}

/**
 *
 * -------------------------------------------------------------------------------------------
 *
 * Font Size & Font Styles
 *
 * -------------------------------------------------------------------------------------------
 *
 */
.fs-xxs {
  font-size: 8px !important;
}

.fs-xs {
  font-size: 11px !important;
}

.fs-sm {
  font-size: 13px !important;
}

.fs-md {
  font-size: 16px !important;
}

.fs-lg {
  font-size: 24px !important;
}

.fs-xl {
  font-size: 48px !important;
}

.fs-xxl {
  font-size: 96px !important;
}

@media all and (min-width: 992px) {
  .fs-lg-md {
    font-size: 16px !important;
  }

  .fs-lg-lg {
    font-size: 24px !important;
  }
}
.bold {
  font-weight: bold;
}

/**
 *
 * -------------------------------------------------------------------------------------------
 *
 * Colors
 *
 * -------------------------------------------------------------------------------------------
 *
 */
.white {
  color: white !important;
}

.white a {
  color: white;
}

.dark {
  color: #666666;
}

.bg-blue {
  background-color: blue !important;
}

.bg-green {
  background-color: green;
}

.red {
  color: red !important;
}

.bg-red {
  background-color: red;
}

/**
 *
 * -------------------------------------------------------------------------------------------
 *
 * Utilities
 *
 * -------------------------------------------------------------------------------------------
 *
 */
.top {
  top: 0;
}

.top-sm {
  top: 0.5em;
}

.left {
  left: 0;
}

.left-sm {
  left: 0.5em;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.opacity-0 {
  opacity: 0;
}

.opacity-5 {
  opacity: 0.5;
}

.radius-50 {
  border-radius: 50%;
}

.em {
  font-weight: bold;
}

.cover {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 100em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/**
 *
 * -------------------------------------------------------------------------------------------
 *
 * Components, Module
 *
 * -------------------------------------------------------------------------------------------
 *
 */
.pointer {
  cursor: pointer;
}

.progress-bar {
  background-color: #d4d4d4;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  /* By changing the font-size, the height will be changed. */
  font-size: 12px;
}
.progress-bar div {
  /* Change width by Javascript */
  width: 25%;
  border-radius: 10px;
  background-color: #0037ff;
}

.list-style-none {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

ul.ellipsis li {
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

/*# sourceMappingURL=x.css.map */
