/**
 * BASE
 */
body {
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}
input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}



/**
 *
 * -------------------------------------------------------------------------------------------
 *
 * Size
 *
 * -------------------------------------------------------------------------------------------
 *
 */

.size-chip {
  width: 18px;
  height: 18px;
}
.size-icon {
  width: 32px;
  height: 32px;
}

.w-100px {
  width: 100px;
}
.w-120px {
  width: 120px;
}

// 100% on lg
.w-lg-100 {
  @media all and (min-width: 1024px ) {
    width: 100% !important;
  }
}


/**
 *
 * -------------------------------------------------------------------------------------------
 *
 * Font Size & Font Styles
 *
 * -------------------------------------------------------------------------------------------
 *
 */

.fs-xs {
  font-size: 11px;
}
.fs-sm {
  font-size: 13px;
}
.fs-md {
  font-size: 16px;
}
.fs-lg {
  font-size: 24px;
}
.fs-xl {
  font-size: 48px;
}
.fs-xxl {
  font-size: 96px;
}


.bold {
  font-weight: bold;
}




/**
 *
 * -------------------------------------------------------------------------------------------
 *
 * Colors
 *
 * -------------------------------------------------------------------------------------------
 *
 */


.white {
  color: white;
}
.white a {
  color: white;
}
.dark {
  color: #666666;
}
.bg-blue {
  background-color: blue !important;
}
.bg-green {
  background-color: green;
}
.red {
  color: red;
}
.bg-red {
  background-color: red;
}



/**
 *
 * -------------------------------------------------------------------------------------------
 *
 * Utilities
 *
 * -------------------------------------------------------------------------------------------
 *
 */

.top {
  top: 0;
}
.top-sm {
  top: .5em;
}
.left {
  left: 0;
}
.left-sm {
  left: .5em;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.opacity-0 {
  opacity: 0;
}

.radius-50 {
  border-radius: 50%;
}


.em {
  font-weight: bold;
}

/**
 *
 * -------------------------------------------------------------------------------------------
 *
 * Components, Module
 *
 * -------------------------------------------------------------------------------------------
 *
 */


.progress-bar {
  background-color: #d4d4d4;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  div {
    /* Change width by Javascript */
    width: 25%;
    border-radius: 10px;
    /* By changing the font-size, the height will be changed. */
    font-size: 12px;
    background-color: #0037ff;
  }
}
